# App
PORT=7000
NODE_ENV=development
HOST=notification-action-history-service

# Database
MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<db_name>?authSource=admin&appName=<app_name>
DB_NAME=notificationActionHistoryDb

# Kafka
SERVICE_NAME=notification-action-history
BROKER1=<kafka-broker-1>
BROKER2=<kafka-broker-2>

# Email configurations
EMAIL_HOST=<smtp-host>
EMAIL_USER=<your-email@example.com>
EMAIL_PASS=<your-email-password>

# <=================== TCP ===================>
# Auth Service
AUTH_SERVICE_HOST=<auth-service-host>
AUTH_SERVICE_PORT=<auth-service-port>

# Account Service
ACCOUNT_SERVICE_HOST=<account-service-host>
ACCOUNT_SERVICE_PORT=<account-service-port>

# Messenger Service
MESSENGER_SERVICE_HOST=<messenger-service-host>
MESSENGER_SERVICE_PORT=<messenger-service-port>

# Relationship Service
RELATIONSHIP_SERVICE_HOST=<relationship-service-host>
RELATIONSHIP_SERVICE_PORT=<relationship-service-port>