NODE_ENV=development
PORT=7000

MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<database>?authSource=admin
DB_NAME=notificationActionHistoryDb

EMAIL_HOST=smtp.gmail.com
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_app_password